:root {
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd982;
  --difuminado1-bottom: #8fbf6f;
  --difuminado2-bottom: #c6e5b5;
  --dark-blue: #1a237e --white: #ffffff;
  --black: #000000;
  --sm: 14px;
  --md: 16px;
  --lg: 24px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*
.main-container{
    min-height: 100vh;

}*/
.login,
.email-send {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

/*
css para password_recovery2
*/

.information-container {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.email-image {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  margin-bottom: 30px;
}

.email-image img {
  width: 80px;
}

.resend-email {
  font-size: var(--sm);
  color: var(--very-light-pink);
}

.resend-email a {
  color: var(--hospital-green);
  text-decoration: dotted;
}

.form-container {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.logo {
  width: auto;
  height: auto;
  display: none;
}


.title {
  font-size: var(--lg);
  margin-bottom: 30px;
  text-align: start;
}

.subtitle,
.resend-email {
  font-size: var(--md);
  color: var(--very-light-pink);
  margin-bottom: 20px;
}

.value {
  text-align: left;
  color: var(--very-light-pink);
  font-size: var(--md);
  margin: 8px 0 32px 0;
  background-color: #f2f2f2;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--very-light-pink);
}

.form,
.form div {
  display: flex;
  flex-direction: column;
}

.form a,
.resend-email a {
  color: var(--hospital-green);
  font-size: var(--sm);
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.label {
  text-align: left;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.input,
.input-name,
.input-email,
.input-password,
.input-passwordd {
  background-color: var(--text-input-field);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-size: var(--md);
}

.primary-button,
.secondary-button {
  padding: 10px 20px;
  background-color: var(--hospital-green);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  margin-bottom: 4px;
}

.primary-button:hover {
  background-color: var(--difuminado1-bottom);
}

.secondary-button {
  background-color: var(--white);
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
  width: 100%;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: var(--difuminado2-bottom);
  color: var(--white);
}

/*css de la cartas de compra */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 26px;
  padding: 20px;
}

.product-card {
  width: 240px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  padding: 0 16px;
}

.product-info figure {
  margin: 0;
}

.product-info figure img {
  width: 35px;
  height: 35px;
}

.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

/* desktop-menu */

.desktop-menu {
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:not(:last-child) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

/* mobile-menu */
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
  padding: 28px;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  /* margin-bottom: 24px; */
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 2px solid var(--very-light-pink);
}

.email {
  font-weight: 300 !important;
}

.sign-out {
  color: var(--hospital-green) !important;
}

/* My Order Styles */
.my-order {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  /* Fondo añadido para mejorar la visualización */
}

.my-order-container {
  display: flex;
  flex-direction: column;
  width: 60vh;
  /* Aumentado el ancho para que sea más responsivo */
  max-width: 800px;
  /* Ancho máximo para evitar que se estire demasiado en pantallas grandes */
  background-color: #ffffff;
  /* Fondo blanco */
  border-radius: 10px;
  /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Sombra */
  padding: 20px;
  /* Espaciado interno */
  margin: 20px;
  /* Margen externo */
}

.title-order {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
}

.order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
  font-size: var(--sm);
  color: var(--very-light-pink);
}

.order p span:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  color: #555555;
}

.order p span:nth-child(2) {
  font-size: 12px;
  color: var(--hospital-green);
}

.shopping-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
}

.shopping-cart figure {
  margin: 0;
}

.shopping-cart figure img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.shopping-cart p:nth-child(2) {
  color: var(--hospital-green);
}

.shopping-cart p:nth-child(3) {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.title {
  font-size: var(--lg);
  margin-bottom: 40px;
}

.menu {
  display: none;
  text-decoration: none;
  list-style: none;
}

.logo-navbar {
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-left {
  display: flex;
}

.navbar-right {
  display: flex;
}

.navbar-left ul li,
.navbar-right ul li {
  margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
  background-color: rgba(0, 128, 0, 0.1);
}

.email-nav {
  display: flex;
  align-items: center;
}

.email-nav img {
  margin-left: 10px;
  transform: rotate(90deg);
  margin-right: 14px;
}

.navbar-shopping-cart {
  position: relative;
}

.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos responsivos */
@media (max-width: 640px) {

  .login,
  .email-send {
    width: 70%;
    height: calc(100vh - 80px);
  }

  .logo {
    width: 200px;
    height: 90px;
    display: block;
  }

  .title {
    font-size: 20px;
  }


  .subtitle,
  .resend-email {
    font-size: 14px;
  }

  .secondary-button {
    margin-top: px;
  }

  .form-container,
  .information-container {
    height: 100%;
    max-height: 100%;
  }

  .form {
    height: calc(100% - 200px);
    justify-content: space-between;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 10px;
  }

  .product-card {
    width: 140px;
    margin-bottom: 16px;
  }

  .product-card img {
    width: 140px;
    height: 140px;
  }

  .menu {
    display: block;
  }

  .navbar-left ul {
    display: none;
  }

  .email-nav {
    display: none;
  }
 
}